@model Kontrola.Models.Cliente

@{
    ViewData["Title"] = "Create";
}

<h1>Criar cliente</h1>

<hr />
<div class="row">
    <div class="d-flex justify-content-center">
        <form class="row g-3 w-75 mt-3 border border-primary shadow-lg p-3 mb-5 bg-body-tertiary rounded" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-6">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Cnpj" class="control-label"></label>
                <input asp-for="Cnpj" class="form-control" />
                <span asp-validation-for="Cnpj" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="TelefoneDois" class="control-label"></label>
                <input asp-for="TelefoneDois" class="form-control" />
                <span asp-validation-for="TelefoneDois" class="text-danger"></span>
            </div>
            <div class="col-12">
                <button type="submit" value="Create" class="btn btn-primary">Criar</button>
                <a class="btn btn-danger" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>


