@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center py-5 animate__animated animate__fadeIn">
    <h1 class="display-4">Kontrola - Soluções</h1>
</div>

<div class="texto px-5 py-3 animate__animated animate__fadeInUp">
    <p class="lead text-justify">
        O Kontrola é uma solução inovadora que simplifica a gestão de documentos e
        equipamentos nas empresas. Com sua abordagem de controle único e recursos
        avançados de digitalização e armazenamento, o Kontrola oferece eficiência, agilidade e
        segurança na gestão desses ativos, reduzindo a dependência de papéis físicos e
        solucionando problemas de espaço insuficiente. Com bancos de dados digitais seguros,
        os documentos podem ser facilmente localizados, compartilhados e acessados pelos
        membros da equipe. O Kontrola permite que as empresas controlem documentos e
        equipamentos, evitando retrabalho e erros associados à duplicação de informações. Ele
        registra e rastreia todas as etapas do processo, desde a entrada até a saída dos ativos,
        fornecendo uma visão completa e detalhada.
    </p>
    <div class="d-flex justify-content-center animate__animated animate__zoomIn">
        <img class="img-fluid rounded" src="images/logoAzul.jpg" alt="">
    </div>
</div>
