<br />

<div class="d-flex justify-content align-content-center">
<img src="~/images/negado1.jpg" alt="Àrea de Administração" class="marginTop1 " />
</div>
<div class="container">
    
    <div class="d-flex justify-content-center jumbotron">
        <p>
            <h2>Acesso não autorizado</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Volta a Home Page</a>
</div>
